<!DOCTYPE html>
<html>
<head>
	<title>Successfully Added a Record! | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<style>
		/* positive, negative, and neutral score / rank changes */
		.pos { color: green; }
		.neg { color: red; }
		.neut { color: gray; }
	</style>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>

	<h1>Success!</h1>
	<p>A new record of {{recordString}} was added to your history for {{pattern.name}}.</p>

	<p>Your user score is now {{user.score}} <span class="{{scoreDiff.class}}">({{scoreDiff.diff}})</span></p>
	<p>Your user rank is now {{user.userRank}} <span class="{{rankDiff.class}}">({{rankDiff.diff}})</span></p>

	<a href="/pattern/{{pattern.uid}}">View {{pattern.name}} Records</a>
	<a href="/user/{{user.uid}}">View Your Juggler Profile</a>
</body>
</html>