<!DOCTYPE html>
<html>
<head>
	<title>Admin Portal | JuggleCentral</title>
	<link rel="stylesheet" type="text/css" href="/slider.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		// async post to /changeAdminStatus to update a user's admin status
		function updateIsAdmin(uid, val) {
			console.log(uid);
			console.log(val);
			// $.post('/changeAdminStatus', { uid: uid, isAdmin: })
		}
	</script>
</head>
<body>
	<h1>Administrator Portal</h1>

	<h2>Jugglers</h2>

	<table>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Email</th>
			<th>Admin Status</th>
		</tr>
		<tr>
			<form action="/addUser" method="POST">
			<td></td>
			<td><input name="name" type="text" placeholder="Name" autocomplete="off"></td>
			<td><input name="email" type="text" placeholder="Email" autocomplete="off"></td>
			<td>
				<label class="switch">
					<input name="isAdmin" type="checkbox">
					<span class="slider round"></span>
				</label>
			</td>
			<td><button type="submit">Add New</button></td>
			</form>
		</tr>
		{{#users}}
		<tr>
			<td>{{userRank}}</td>
			<td><a href="/user/{{uid}}">{{name}}</a></td>
			<td>{{email}}</td>
			<td>
				<label class="switch">
					<input type="checkbox" {{#isAdmin}}checked{{/isAdmin}} onchange="updateIsAdmin({{uid}}, this.value);">
					<span class="slider round"></span>
				</label>
			</td>
			<td><a href="/editUser/{{uid}}">Edit</a></td>
			<td><form action="/removeUser/{{uid}}" method="POST"><button type="submit">Delete</button></form></td>
		</tr>
		{{/users}}
	</table>

	<h2>Patterns</h2>

	<table>
		<tr>
			<th>Name</th>
			<th>Number of Objects</th>
			<th>Description</th>
			<th>GIF</th>
		</tr>
		<tr>
			<form action="/addPattern" method="POST">
			<td><input name="name" type="text" placeholder="Pattern Name" autocomplete="off"></td>
			<td><input name="numObjects" type="number" placeholder="Number of Objects"></td>
			<td><textarea name="description"></textarea></td>
			<td><input name="GIF" type="text" placeholder="GIF"></td>
			<td><button type="submit">Add New</button></td>
			</form>
		</tr>
		{{#patterns}}
		<tr>
			<td><a href="/pattern/{{uid}}">{{name}}</a></td>
			<td>{{numObjects}}</td>
			<td>{{#shortDescrip}}{{shortDescrip}}...{{/shortDescrip}}</td>
			<td>{{#shortGIF}}{{shortGIF}}...{{/shortGIF}}</td>
			<td><a href="/editPattern/{{uid}}">Edit</a></td>
			<td><form action="/removePattern/{{uid}}" method="POST"><button type="submit">Delete</button></form></td>
		</tr>
		{{/patterns}}
	</table>
</body>
</html>