<!DOCTYPE html>
<html>
<head>
	<title>Admin Portal | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<link rel="stylesheet" type="text/css" href="/css/slider.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script>
		// async post to /changeAdminStatus to update a user's admin status
		function updateIsAdmin(uid, checked) {
			// post data
			$.post("/changeAdminStatus", { uid: uid, isAdmin: checked })
				.done(function(data) {
					// show error if any
					if (data.err) {
						alert("Failed to update juggler's admin status.");
					}
				});
		}
	</script>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>
	
	<div class="container">
		<h1 class="main-header">Administrator Portal</h1>
		<div class="sub-container">
			<h2>Jugglers</h2>

			<table>
				<tr>
					<th>Rank</th>
					<th>Name</th>
					<th>Email</th>
					<th>Admin Status</th>
				</tr>
				<tr>
					<form action="/addUser" method="POST">
					<td></td>
					<td><input name="name" type="text" placeholder="Name" autocomplete="off"></td>
					<td><input name="email" type="text" placeholder="Email" autocomplete="off"></td>
					<td>
						<label class="switch">
							<input name="isAdmin" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
					<td><button type="submit">Add New</button></td>
					</form>
				</tr>
				{{#users}}
				<tr>
					<td>{{userRank}}</td>
					<td><a href="/user/{{uid}}">{{name}}</a></td>
					<td>{{email}}</td>
					<td>
						<label class="switch">
							<input id="{{uid}}" data-checked="{{#isAdmin}}1{{/isAdmin}}{{^isAdmin}}0{{/isAdmin}}" type="checkbox" {{#isAdmin}}checked{{/isAdmin}} onchange="this.dataset.checked = this.dataset.checked == '1' ? '0' : '1'; updateIsAdmin({{uid}}, this.dataset.checked);">
							<span class="slider round"></span>
						</label>
					</td>
					<td><a href="/editUser/{{uid}}" title="Edit Juggler"><i class="fas fa-user-edit"></i></a></td>
					<td><form action="/removeUser/{{uid}}" method="POST"><button title="Delete" type="submit"><i class="far fa-trash-alt"></i></button></form></td>
				</tr>
				{{/users}}
			</table>

			<h2>Patterns</h2>

			<table>
				<tr>
					<th>Name</th>
					<th>Number of Objects</th>
					<th>Description</th>
					<th>GIF</th>
				</tr>
				<tr>
					<form action="/addPattern" method="POST">
					<td><input name="name" type="text" placeholder="Pattern Name" autocomplete="off"></td>
					<td><input class="num-objects" name="numObjects" type="number" placeholder="Number of Objects"></td>
					<td><textarea name="description"></textarea></td>
					<td><input name="GIF" type="text" placeholder="GIF"></td>
					<td><button type="submit">Add New</button></td>
					</form>
				</tr>
				{{#patterns}}
				<tr>
					<td><a href="/pattern/{{uid}}">{{name}}</a></td>
					<td>{{numObjects}}</td>
					<td>{{#shortDescrip}}{{shortDescrip}}...{{/shortDescrip}}</td>
					<td>{{#shortGIF}}{{shortGIF}}...{{/shortGIF}}</td>
					<td><a href="/editPattern/{{uid}}" title="Edit Pattern"><i class="fas fa-edit"></i></a></td>
					<td><form action="/removePattern/{{uid}}" method="POST"><button title="Delete" type="submit"><i class="far fa-trash-alt"></i></button></form></td>
				</tr>
				{{/patterns}}
			</table>
		</div>
	</div>
</body>
</html>