<!DOCTYPE html>
<html>
<head>
	<title>Edit Pattern | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>
	
	<h1>Edit Pattern</h1>
	<form action="/editPattern/{{pattern.uid}}" method="POST">
		<p>Name</p>
		<input name="name" type="text" value="{{pattern.name}}">
		<p>Description</p>
		<textarea name="description">{{pattern.description}}</textarea><br>
		<span>Number of Objects: </span><input name="numObjects" type="number" value="{{pattern.numObjects}}"><br>
		{{#pattern.GIF}}<img src="{{pattern.GIF}}" width="170"><br>{{/pattern.GIF}}
		<input name="GIF" type="text" value="{{pattern.GIF}}"><br>
		<button type="submit">Save</button>
	</form>

	{{#recordsExist}}
	<h1>Records</h1>
	
	<h2>Catches</h2>
	<table>
		<tr>
			<th>Rank</th>
			<th>Catches</th>
			<th>Juggler</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{{#records.catchRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{catches}}</td>
			<td><a href="/user/{{userUID}}">{{userName}} ({{userRank}})</a></td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{{video}}}">Video</a>{{/video}}</td>
			<td><a href="/updateVideo/{{uid}}/editPattern/{{pattern.uid}}">Update Video</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editPattern/{{pattern.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/records.catchRecords}}
	</table>

	<h2>Time</h2>
	<table>
		<tr>
			<th>Rank</th>
			<th>Duration</th>
			<th>Juggler</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{{#records.timeRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{duration}}</td>
			<td><a href="/user/{{userUID}}">{{userName}} ({{userRank}})</a></td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{{video}}}">Video</a>{{/video}}</td>
			<td><a href="/updateVideo/{{uid}}/editPattern/{{pattern.uid}}">Update Video</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editPattern/{{pattern.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/records.timeRecords}}
	</table>
	{{/recordsExist}}

	{{^recordsExist}}
	<p>No records exist under this pattern.</p>
	{{/recordsExist}}
</body>
</html>