<!DOCTYPE html>
<html>
<head>
	<title>Edit Juggler | JuggleCentral</title>
</head>
<body>
	<h1>Edit Juggler</h1>
	<form action="/editUser/{{juggler.uid}}" method="POST">
		<input name="name" type="text" value="{{juggler.name}}" autocomplete="off">
		<p>Rank {{juggler.userRank}} ({{juggler.score}})</p>
		<p>Bio</p>
		<textarea name="bio">{{juggler.bio}}</textarea><br>
		<button type="submit">Save</button>
	</form>

	{{#recordsExist}}
	<h1>Competing Patterns</h1>
	{{#competingPatterns}}
	<h3><a href="/pattern/{{uid}}">{{name}}</a></h3>

	<h4>Catches</h4>
	<table>
		<tr>
			<th>Rank</th>
			<th>Catches</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>
		{{#catchRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{catches}}</td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
			<td><a href="/editRecord/{{uid}}">Edit</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editUser/{{juggler.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/catchRecords}}
	</table>

	<h4>Time</h4>
	<table>
		<tr>
			<th>Rank</th>
			<th>Duration</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>
		{{#timeRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{duration}}</td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
			<td><a href="/editRecord/{{uid}}">Edit</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editUser/{{juggler.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/timeRecords}}
	</table>
	{{/competingPatterns}}
	{{/recordsExist}}
</body>
</html>