<!DOCTYPE html>
<html>
<head>
	<title>Edit Juggler | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>
	
	<h1>Edit Juggler</h1>
	<form action="/editUser/{{juggler.uid}}" method="POST">
		<input name="name" type="text" value="{{juggler.name}}" autocomplete="off">
		<p>Rank {{juggler.userRank}} ({{juggler.score}})</p>
		<p>Bio</p>
		<textarea name="bio">{{juggler.bio}}</textarea><br>
		<button type="submit">Save</button>
	</form>

	{{#recordsExist}}
	<h1>Competing Patterns</h1>
	{{#competingPatterns}}
	<h3><a href="/pattern/{{uid}}">{{name}}</a></h3>

	<h4>Catches</h4>
	<table>
		<tr>
			<th>Rank</th>
			<th>Catches</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>
		{{#catchRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{catches}}</td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{{video}}}">Video</a>{{/video}}</td>
			<td><a href="/updateVideo/{{uid}}/editUser/{{juggler.uid}}">Update Video</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editUser/{{juggler.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/catchRecords}}
	</table>

	<h4>Time</h4>
	<table>
		<tr>
			<th>Rank</th>
			<th>Duration</th>
			<th>Date</th>
			<th>Video</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>
		{{#timeRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{duration}}</td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{{video}}}">Video</a>{{/video}}</td>
			<td><a href="/updateVideo/{{uid}}/editUser/{{juggler.uid}}">Update Video</a></td>
			<td><form action="/removeRecord/{{uid}}" method="POST"><input name="redirect" type="text" value="/editUser/{{juggler.uid}}" hidden><button type="submit">Delete</button></form></td>
		</tr>
		{{/timeRecords}}
	</table>
	{{/competingPatterns}}
	{{/recordsExist}}
</body>
</html>