<!DOCTYPE html>
<html>
<head>
	<title>An Error Occurred! | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>
	
	<h1>An Error Occurred!</h1>
	{{#message}}<p>{{message}}</p>{{/message}}
</body>
</html>