<!DOCTYPE html>
<html>
<head>
	<title>{{clubName}} | JuggleCentral</title>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<form action="/search" method="POST">
					<input name="query" type="text" placeholder="Search..." autocomplete="off">
					<button type="submit">Search<i class="fas fa-search"></i></button>
				</form>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div style="float:right">
				<!-- <li id="authMessage"><a href="#">{{auth.message}}</a></li> -->
				{{#auth.isAuthenticated}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>
</body>
</html>