<!DOCTYPE html>
<html>
<head>
	<title>{{clubName}} | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>

	{{#activityExists}}
	<h1>Juggling Activity</h1>
	<table>
		{{#activity}}
		<tr>
			{{#isPBActivity}}
			<p><a href="/user/{{userUID}}">{{userName}}</a> set a new personal best of {{#catches}}{{catches}} catches{{/catches}}{{#duration}}{{duration}}{{/duration}} for <a href="/pattern/{{patternUID}}">{{patternName}}</a> (Local Rank {{recordRank}})</p>
			<p>{{relativeTime}}</p>
			{{/isPBActivity}}

			{{#isNewUserActivity}}
			<p><a href="/user/{{uid}}">{{name}}</a> (Rank {{userRank}}) joined the {{jugglingClub}}</p>
			<p>{{relativeTime}}</p>
			{{/isNewUserActivity}}

			{{#isNewPatternActivity}}
			<p>{{jugglingClub}} created a new pattern:</p>
			<p><a href="/pattern/{{uid}}">{{name}}</a></p>
			{{#GIF}}<img src="{{GIF}}" width="150"/>{{/GIF}}
			<p>{{relativeTime}}</p>
			{{/isNewPatternActivity}}
		</tr>
		{{/activity}}
	</table>
	{{/activityExists}}

	{{^activityExists}}
	<h1>Welcome to JuggleCentral!</h1>
	{{/activityExists}}


</body>
</html>