<!DOCTYPE html>
<html>
<head>
	<title>{{pattern.name}} | JuggleCentral</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">JuggleCentral</a></li>
			<li>
				<div id="searchTools">
					<div id="searchContainer">
						<form action="/search" method="POST">
							<input id="searchBar" name="query" type="text" placeholder="Search..." autocomplete="off">
							<button id="searchSubmit"type="submit"><i id="searchIcon" class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
			</li>
			<li><a href="/search">Browse Patterns</a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<div id="logoutContainer" style="float:right">
				{{#auth.isAuthenticated}}
				{{#auth.userIsAdmin}}
				<li><a href="/admin">Admin Portal</a></li>
				{{/auth.userIsAdmin}}
				<li><a href="/user/{{auth.userUID}}">My Profile ({{auth.givenName}})</a></li>
				<li><a href="/logout">Log Out <i class="fas fa-sign-out-alt"></i></a></li>
				{{/auth.isAuthenticated}}
				{{^auth.isAuthenticated}}
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
				{{/auth.isAuthenticated}}
			</div>
		</ul>
	</div>

	{{#auth.userIsAdmin}}<a href="/editPattern/{{pattern.uid}}">Edit Pattern</a>{{/auth.userIsAdmin}}

	<h1>{{pattern.name}}</h1>
	<h4>{{pattern.numObjects}}-object pattern</h4>
	<p>{{pattern.description}}</p>
	{{#pattern.GIF}}<img src="{{pattern.GIF}}" width="170">{{/pattern.GIF}}

	<br>
	{{#auth.isAuthenticated}}
	<a href="/addRecord/{{pattern.uid}}">Add a New Record</a>
	{{/auth.isAuthenticated}}

	{{#recordsExist}}
	<h1>Records</h1>
	
	<h2>Catches</h2>
	<table>
		<tr>
			<th>Rank</th>
			<th>Catches</th>
			<th>Juggler</th>
			<th>Date</th>
			<th>Video</th>
		</tr>
		{{#records.catchRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{catches}}</td>
			<td><a href="/user/{{userUID}}">{{userName}} ({{userRank}})</a></td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
		</tr>
		{{/records.catchRecords}}
	</table>

	<h2>Time</h2>
	<table>
		<tr>
			<th>Rank</th>
			<th>Duration</th>
			<th>Juggler</th>
			<th>Date</th>
			<th>Video</th>
		</tr>
		{{#records.timeRecords}}
		<tr>
			<td>{{recordRank}}</td>
			<td>{{duration}}</td>
			<td><a href="/user/{{userUID}}">{{userName}} ({{userRank}})</a></td>
			<td>{{date}}</td>
			<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
		</tr>
		{{/records.timeRecords}}
	</table>
	{{/recordsExist}}

	{{^recordsExist}}
	<p>No records exist under this pattern.</p>
	{{/recordsExist}}
</body>
</html>