<!DOCTYPE html>
<html>
<head>
	<title>{{user.name}} | JuggleCentral</title>
</head>
<body>
	{{#viewingOwn}}<a href="/editUser/{{user.uid}}">Edit Your Profile</a>{{/viewingOwn}}
	{{^viewingOwn}}{{#auth.userIsAdmin}}<a href="/editUser/{{user.uid}}">Edit Juggler</a>{{/auth.userIsAdmin}}{{/viewingOwn}}

	<h1>{{user.name}} {{#showBothNames}} ({{user.realName}}) {{/showBothNames}}</h1>
	<p>Rank: {{user.userRank}}, Score: {{user.score}}</p>
	<p>{{user.bio}}</p>

	<h1>Records</h1>
	{{#records}}
		<h2>{{name}}</h2>

		<h3>Catches</h3>
		<div style="height:100px; overflow-y: scroll;">
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Catches</th>
						<th>Date</th>
						<th>Video</th>
					</tr>
				</thead>
				<tbody>
					{{#catchRecords}}
					<tr>
						<td>{{rank}}
						<td>{{catches}}</td>
						<td>{{date}}</td>
						<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
					</tr>
					{{/catchRecords}}
				</tbody>
			</table>
		</div>

		<h3>Duration</h3>
		<div div style="height:100px; overflow-y: scroll;">
			<table>
				<thead>
					<tr>
						<th>Rank</th>
						<th>Duration</th>
						<th>Date</th>
						<th>Video</th>
					</tr>
				</thead>
				<tbody>
					{{#timeRecords}}
					<tr>
						<td>{{rank}}</td>
						<td>{{duration}}</td>
						<td>{{date}}</td>
						<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
					</tr>
					{{/timeRecords}}
				</tbody>
			</table>
		</div>
	{{/records}}
	{{^records}}
		<p>This user has no records</p>
	{{/records}}
</body>
</html>