<!DOCTYPE html>
<html>
<head>
	<title>{{user.name}} | JuggleCentral</title>
</head>
<body>
	<h1>{{user.name}} {{#showBothNames}} ({{user.realName}}) {{/showBothNames}}</h1>
	<p>Rank: {{user.userRank}}, Score: {{user.score}}</p>
	<p>{{user.bio}}</p>

	{{#records}}
		<div style="height:100px; overflow-y: scroll;">
			<table>
				<thead>
					<tr>
						<th>
							{{name}}
						</th>
						<th>
							Event Rank: ?
						</th>
						<th>
							Type: Catches
						</th>
					</tr>
				</thead>
				<tbody>
					{{#catchRecords}}
					<tr>
						<td>{{catches}}</td>
						<td>{{date}}</td>
						<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
					</tr>
					{{/catchRecords}}
				</tbody>
			</table>
		</div>
		<div div style="height:100px; overflow-y: scroll;">
			<table>
				<thead>
					<tr>
						<th>
							{{name}}
						</th>
						<th>
							Event Rank: ?
						</th>
						<th>
							Type: Duration
						</th>
					</tr>
				</thead>
				<tbody>
					{{#timeRecords}}
					<tr>
						<td>{{duration}}</td>
						<td>{{date}}</td>
						<td>{{#video}}<a href="{{video}}">Video</a>{{/video}}</td>
					</tr>
					{{/timeRecords}}
				</tbody>
			</table>
		</div>
	{{/records}}
</body>
</html>