
/* one row in activity feed */
.feed-row {
	font-size: 16px;
	background-color: #6AC87E;
	padding: 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	clear: both;
	position: relative;
}

/* time of activity item */
.relative-time {
	position: absolute;
	bottom: 0;
	right: 10px;
}

.feed-row img {
	display: block;
	margin: auto;
	border-radius: 6px;
}

.pattern-title {
	font-size: 24px;
	text-align: center;
}