
table {
	width: 100%;
}

td, th {
	background-color: #6AC87E;
	text-align: left;
	padding: 4px;
	border-radius: 3px;
}

tr:hover {
	cursor: pointer;
}

.rank, .score {
	text-align: center;
}

a, a:hover {
	color: white;
}