

.container {
	width: 80%;
}

.sub-container {
	position: relative;
}

.pattern-img {
	position: absolute;
	right: 20px;
	top: 20px;
	border-radius: 6px;
}

.catch-container {
	width: 50%;
	background-color: red;
}

.time-container {
	width: 50%;
	background-color: blue;
}

table {
	width: 100%;
}

* {
	color: black;
}